@media (max-width: 1600px) {
    .container {
        max-width: 1600px;
        padding: 0 40px;
    }

    .cities-menu {
        grid-template-rows: repeat(2, 340px);
    }

    .cities-menu__item {
        padding: 30px 0 0 40px;
    }

    .cities-menu__item:first-child {
        padding: 85px 0 0 105px;
    }

    .cities-menu__item--description {
        margin: 20px 0 55px 0;
    }

    .city__header-wrapper {
        margin: 0 auto 0 auto;
        padding-top: 150px;
        background-size: 1075px 945px;
    }

    .city__header {
        background-size: 1075px 945px;
    }

    .city__header--info {
        min-height: 900px;
        max-width: 600px;
        padding: 0 0 240px 0;
    }

    .city__header--about > div {
        padding-right: 60px;
    }

    .city__video--wrapper video {
        max-width: calc(100vw - 80px);;
    }

    .city__history {
        padding-bottom: 100px;
    }

    .city__history--top {
        padding-bottom: 130px;
    }

    .city__history--top-title {
        padding-top: 190px;
    }
    .city__history--top-img {
        width: 576px;
        height: 580px;
    }

    .city__history--bottom-description {
        max-width: 600px;
        height: 410px;
    }

    .city__history--bottom-img {
        width: 760px;
        height: 633px;
    }
    .history__additional--small-img {
        width: 344px;
        height: 344px;
        top: 0;
    }

    .history__additional {
        padding-top: 0;
        padding-bottom: 0;
    }

    .city__advantage {
        padding: 160px 0;
    }

    .city__advantage-big {
        padding: 250px 0;
    }

    .city__advantage-empty {
        padding: 130px 0;
    }

    .city__advantage--text {
        max-width: 1000px;
    }
    .city__facts--slider {
        padding: 0 84px 0 84px;
    }

    .city__facts--slider-item-title {
        top: 40%;
    }

    .city__facts--slider-item-image {
        min-width: 474px;
        height: 470px;
        margin-left: 26%;
    }

    .city__facts--slider-item-description {
        padding-left: 60px;
    }
}

@media (max-width: 1320px) {
    .city__header--info {
        align-self: flex-start;
    }
}

@media (max-width: 1024px) {
    .container {
        padding-left: 32px;
        padding-right: 32px;
    }

    .cities-menu {
        grid-template-rows: repeat(2, 334px);
    }

    .cities-menu__item {
        padding: 15px 0 0 20px;
    }

    .cities-menu__item--name {
        font-size: 24px;
    }

    .cities-menu__item--description {
        font-size: 12px;
    }

    .cities-menu__item:first-child {
        padding: 75px 0 0 30px;
    }

    .cities-menu__item:first-child > .cities-menu__item--name {
        font-size: 35px;
    }

    .cities-menu__item:first-child > .cities-menu__item--description {
        font-size: 14px;
    }

    .city__header {
        background-size: 960px 845px;
        background-position-x: 200px;
        padding: 0 0 150px 0;
    }

    .city__header--info {
        max-width: 390px;
        align-self: center;
    }

    .city__header--info-title {
        font-size: 75px;
    }

    .city__header--info-description {
        font-size: 14px;
    }

    .city__header--about-left {
        font-size: 35px;
    }

    .city__header--about-right {
        font-size: 18px;
    }

    .city__history--title {
        font-size: 12px;
    }


    .city__history--top {
        padding-bottom: 100px;
    }

    .city__history--top-img {
        width: 435px;
        height: 438px;
    }

    .city__history--top-title {
        font-size: 32px;
        max-width: 350px;
        transform: translateX(90px);
    }

    .city__history--top-description,
    .city__history--bottom-description {
        font-size: 14px;
        max-width: 465px;
    }

    .city__history--top-description {
        padding-top: 60px;
    }

    .history__additional--description {
        padding: 0;
    }

    .city__history--bottom-description-title {
        font-size: 32px;
    }
    .city__history--bottom-img {
        width: 465px;
        height: 387px;
    }

    .history__additional--small-img {
        width: 261px;
        height: 261px;
    }

    .city__advantage {
        font-size: 28px;
    }

    .city__advantage-big {
        font-size: 28px;
        padding: 150px 0;
    }

    .city__advantage-empty {
        padding: 25px 0;
    }

    .city__advantage--text {
        max-width: 720px;
    }

    .city__facts--slider {
        padding: 0 0 0 100px;
    }

    .city__facts--slider-item-title {
        font-size: 32px;
        top: 35%;
    }

    .city__facts--slider-item-image {
        min-width: 330px;
        height: 383px;
    }

    .city__facts--slider-item-description {
        font-size: 12px;
        min-width: 270px;
    }
}