@font-face {
    font-family: "Manrope";
    src: url("../fonts/Manrope-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ManropeLight";
    src: url("../fonts/Manrope-Light.ttf");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    color: #232323;
    font-family: "Manrope", serif;
    font-style: normal;
    box-sizing: border-box;
}

.anchor-cover {
    position: fixed;
    background-color: #FFFFFF;
    opacity: 0;
    z-index: -3;
    width: 100%;
    height: 100%;
    transform: translate(0, 100%);
    transition: z-index 0s 0.4s, opacity 0.4s 0.2s, background-color 0.2s, transform 0s 0.4s;
}

.cover-active {
    opacity: 1;
    z-index: 5;
    transform: translate(0, 0);
    transition: opacity 0.2s, background-color 0.2s, transform 0.2s;
}

.container {
    width: 100%;
    margin: auto;
    padding: 0 60px;
    background-repeat: no-repeat;
}

.cities-menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 440px);
}

.cities-menu__item {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding: 60px 50px;
}

.cities-menu__item > .cities-menu__item--description, .cities-menu__item--button {
    opacity: 0;
    transition: 0.2s;
}

.cities-menu__item:hover .cities-menu__item--button,
.cities-menu__item:hover .cities-menu__item--description {
    opacity: 1;
}

.cities-menu__item--name,
.cities-menu__item--description {
    font-family: "ManropeLight";
    color: white;
}

.cities-menu__item--name {
    font-size: 35px;
}

.cities-menu__item--description {
    margin: 30px 0 80px 0;
    max-width: 300px;
    font-size: 14px;
    text-indent: 30px;
}

.cities-menu__item--button {
    width: 200px;
    height: 60px;
    background-color: white;
    border: none;
    border-radius: 80px;
    font-size: 16px;
    padding: 20px 55px;
    color: black;
    text-decoration: none;
}

.cities-menu__item:first-child {
    grid-column: span 2;
    grid-row: span 2;
    height: unset;
    padding: 150px 0 0 175px;
}

.cities-menu__item:first-child > .cities-menu__item--name {
    font-size: 50px;
    margin-bottom: 30px;
}

.cities-menu__item:first-child > .cities-menu__item--description {
    margin-bottom: 90px;
    font-size: 18px;
    max-width: 370px;
}

.city__header-wrapper {
    padding-top: 200px;
    padding-bottom: 340px;
    overflow: hidden;
}

.city__header {
    background-position: top right;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    position: relative;
}

.city__header--image {
    position: absolute;
    width: 70%;
    height: 100%;
    right: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
    z-index: -1;
}

.city__header--info {
    padding: 80px 0 0 0;
    width: 665px;
    min-height: 1160px;
    overflow: visible;
    align-self: center;
}

.city__header--info-title {
    font-size: 140px;
    font-weight: 400;
}

.city__header--info-description {
    font-size: 18px;
    max-width: 530px;
    margin-top: 30px;
    text-indent: 30px;
}

.city__header--about {
    display: flex;
}

.city__header--about > div {
    flex: 0 0 50%;
}

.city__header--about-left {
    font-size: 50px;
    padding-right: 130px;
}

.city__header--about-right {
    font-size: 24px;
    text-indent: 30px;
    max-width: 750px;
}

.city__video--wrapper {
    position: relative;
    padding-top: 56.25%;
    width: 100%;
}

.city__video--wrapper video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 0;
    width: 100vw;
    max-width: calc(100vw - 120px);
    transform: translate(-50%, 0);
    transition: max-width 1s;
}

/* HISTORY */

.bg-silver {
    background-color: #f4f4f4;
}

.city__history {
    padding-top: 250px;
    padding-bottom: 100px;
    color: #232323;
}

/* HISTORY DEFAULT PROPERTIES FOR EVERY BLOCK*/

.city__history--title {
    font-size: 16px;
    color: #8b8b8b;
    position: absolute;
    padding-top: 10px;
}

.city__history--element-title {
    font-family: "ManropeLight";
    font-size: 60px;
    padding-bottom: 75px;
    align-self: center;
    mix-blend-mode: difference;
    color: white;
    text-transform: uppercase;
    max-width: 754px;
    transform: translateX(-280px);
    z-index: 2;
}

.city__history > .city__history--element > .city__history--element-img {
    position: static;
    background-size: cover;
}


.city__history--element-text > .city__history--element-description {
    max-width: 600px;
}

.city__history--element-text {
    display: flex;
    flex-direction: column;
    flex: 0 1 50%;
    align-self: flex-start;
    padding-top: 100px;
    font-size: 18px;
}

.city__history > .city__history--element {
    padding-bottom: 0;
    padding-top: 0;
    position: relative;
    display: flex;
    justify-content: space-between;
}

/*HISTORY FIRST BLOCK */

.city__history > .city__history--element:nth-child(2) {
    padding-bottom: 150px;
    padding-top: 0;
}

.city__history > .city__history--element:nth-child(2) .city__history--element-text {
    align-self: flex-end;
    padding-top: 0;
}

.city__history > .city__history--element:nth-child(2) > .city__history--element-description {
    padding-top: 75px;
}

/* HISTORY EVERY RIGHT-IMAGE BLOCK */

.city__history > .city__history--element:nth-child(odd) .city__history--element-text {
    align-self: flex-start;
}

.city__history > .city__history--element:nth-child(odd) {
    flex-direction: row-reverse;
}

.city__history > .city__history--element:nth-child(odd) > .city__history--element-img {
    width: 900px;
    height: 750px;
    right: 0;
}

/* HISTORY EVERY LEFT-IMAGE BLOCK */

.city__history > .city__history--element:nth-child(even) > .city__history--element-img {
    width: 765px;
    height: 770px;
    left: 0;
}

/* HISTORY AFTER ADVANTAGE BLOCKS */

.city__history > .city__advantage ~ .city__history--element {
    flex-direction: row;
}

.city__history > .city__advantage ~ .city__history--element > .city__history--element-img:nth-child(1) {
    width: 765px;
    height: 770px;
}
.city__history > .city__advantage ~ .city__history--element > .city__history--element-text > .city__history--element-img{
    width: 450px;
    height: 450px;
    align-self: flex-end;
}
.city__history > .city__advantage ~ .city__history--element > .city__history--element-text {
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-self: unset;
}
.city__history > .city__advantage ~ .city__history--element > .city__history--element-text .city__history--element-description{
    flex: 1;
}
/* HISTORY ADVANTAGE BLOCKs  */

.city__history > .city__advantage {
    text-align: center;
    height: unset;
    font-size: 47px;
    padding-top: 200px;
    padding-bottom: 140px;
    display: flex;
    flex-direction: column;
}

.city__advantage, .city__advantage-empty {
    text-align: center;
    height: unset;
    font-size: 47px;
    padding-top: 200px;
    padding-bottom: 140px;
    display: flex;
    flex-direction: column;
}

.city__advantage-big {
    padding-top: 400px;
    padding-bottom: 300px;
}

.city__advantage--text {
    align-self: center;
}

.city__advantage--text {
    max-width: 950px;
}

/* SLIDER */

.city__facts--slider-wrapper {
    width: 100%;
    position: relative;
}

.city__facts--slider {
    position: sticky;
    top: 0;
    height: 100vh;
    overflow: hidden;
    padding: 0 84px 0 260px;
}

.city__facts--slider-items {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.city__facts--slider-item {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s 0.5s;
    justify-content: flex-end;
}

.city__facts--slider-item:before {
    content: "";
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    transform-origin: left;
    transform: scaleX(1);
    transition: transform 0.65s ease-in-out;

}

.city__facts--slider-item.slide-active:before {
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.65s 0.65s ease-in-out;
}

.slide-active {
    opacity: 1;
    transition: opacity 0.1s 0.4s;
}

.city__facts--slider-title {
    position: absolute;
    display: inline-block;
    z-index: 3;
    left: 0;
}

.slide-active > .city__facts--slider-item-title,
.slide-active > .city__facts--slider-item-description {
    transform: translateX(0);
    opacity: 1;
}

.city__mobile--title-item,
.city__facts--slider-item-title {
    position: absolute;
    left: 0;
    top: 33%;
    max-width: 620px;
    font-size: 60px;
    text-transform: uppercase;
    display: inline-block;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.5s ease-in-out, transform 0.3s 0.5s ease-in-out;
}

.city__facts--slider-item-image,
.city__mobile--slider-item-image {
    display: inline-block;
    margin-left: 26%;
    width: 100%;
    height: 100%;
    max-height: 530px;
    min-width: 534px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.city__facts--slider-item-description {
    min-width: 300px;
    padding-left: 65px;
    transform: translateX(110%);
    opacity: 0;
    text-indent: 30px;
    transition: opacity 0.5s ease-in-out, transform 0.3s 0.5s ease-in-out;
}

.city__mobile {
    position: relative;
    display: none;
}

.city__mobile--title {
    position: absolute;
    z-index: 2;
}

.city__mobile--titles-items {
    position: relative;
    display: block;
    top: 60px;
}

.city__mobile--title-item {
    position: absolute;
    text-transform: uppercase;
    z-index: 2;
    font-size: 32px;
    transform: translateX(-200%);
    transition: opacity 0.2s ease-in, transform 0.5s 0.2s;
}

.title-active {
    overflow-wrap: anywhere;
    transform: unset;
    opacity: 1;
}

.slide-hide {
    opacity: 0;
}

.city__mobile--slider-items-item {
    flex-direction: column;
    display: flex;
    transition: opacity 0.5s;
}

.city__mobile--slider-item-image {
    max-width: 346px;
    min-height: 400px;
    min-width: 0;
    margin: 0;
    margin-bottom: 30px;
}

.city__mobile--slider-item-description {
    max-width: 345px;
}
